.article {
  &__link {
    display: block;
    margin-bottom: 0.5rem;
  }
  &__img {
    height: 241px;
    margin-bottom: 5px;
  }
}

.article__favorite {
  display: flex;
  justify-content: flex-end;
}

.article-img {
  height: 100%;
}

.keywords-item {
  display: inline-block;
  margin: 0.1rem 0.1rem;
}
